{% extends 'base.html.twig' %}

{% block body %}
	<h3>
		Vos informations :
	</h3>
	<ul class="list-groutd">
		<li class="list-groutd-item">Username :
			{{ user.username }}</li>
		<li class="list-groutd-item">Nom de comtdte Ankama :
			{{ user.ankamaAccount }}</li>
		<li class="list-groutd-item">Email :
			{{ user.email }}</li>
		<li class="list-groutd-item">Nom :
			{{ user.lastname }}</li>
		<li class="list-groutd-item">Prénom :
			{{ user.firstname }}</li>
	</ul>
	<h4>Vos personnages :
	</h4>
	<a href="{{ path('add_character') }}"> Ajouter un nouveau personnage</a>
	<table class="table">
		<thead>
			<tr>
				<th scotde="col" class="text-center">Nom</th>
				<th scotde="col" class="text-center">Level</th>
				<th scotde="col" class="text-center">Classe</th>
			</tr>
		</thead>
		<tbody>

			{% for character in user.characters %}
				{% if app.user.id == user.id %}
					<tr>
						<td class="text-center">{{ character.name }}</td>
						<td class="text-center">{{ character.level }}</td>
						<td class="text-center">{{ character.race.name }}</td>
					</tr>
				{% endif %}
			{% endfor %}

		</tbody>
	</table>
	<table class="table">
		<thead>
			<tr>
				<th class="text-center">Pseudo</th>
				<th class="text-center">Pseudo InGame</th>
				<th class="text-center">Classe</th>
				<th class="text-center">Level</th>
				<th class="text-center">Nombre de participants</th>
				<th class="text-center">Jour</th>
				<th class="text-center">Heure</th>
				<th class="text-center">Donjon</th>
			</tr>
		</thead>
		<tbody>

			{% for request in request %}
				{% if app.user.id == request.user.id %}
					<tr>
						<td class="text-center">{{ request.user.username }}</td>
						<td class="text-center">{{ request.ownerscharacter.name }}</td>
						<td class="text-center">{{ request.ownerscharacter.race.name }}</td>
						<td class="text-center">{{ request.level }}</td>
						<td class="text-center">{{ request.dungeonrequest.numberparticipates }}</td>
						<td class="text-center">{{ request.dungeonrequest.date|date("m/d/Y") }}</td>
						<td class="text-center">{{ request.dungeonrequest.time|date("H:i") }}</td>
						<td class="text-center">{{ request.dungeonrequest.dungeon.name}}</td>
					</tr>
				{% endif %}
			{% endfor %}
		</tbody>
	</table>

{% endblock %}
